:root {
  --Primary-color: #1b252f;
  --Secondary-color: #fabd05;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  margin-top: 3rem;
}

.Logo {
  width: 9.7rem;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.list-item {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--Primary-color);
}

.list-item:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.btn-join {
  border: none;
  color: var(--Primary-color);
  background-color: var(--Secondary-color);
  font-size: 1.9rem;
  font-weight: 600;
  padding: 1rem 4rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-join:hover {
  background-color: var(--Primary-color);
  color: white;
}

header {
  background-color: var(--Primary-color);
  color: var(--Secondary-color);
  text-align: center;
  margin: 2rem 0;
  padding: 5rem;
}

.title {
  font-size: 6.5rem;
}

main {
  margin: 0 auto;
  width: 120rem;
}

.discreption-section {
  margin: 8rem 0;
}
.page-discribtion {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--Primary-color);
}

.cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 3rem;
  align-items: center;
}

.card {
  background-color: #e7edf3;
  width: 80rem;
  border: var(--Secondary-color) solid 0.1rem;
  border-radius: 1rem;
  padding: 1.5rem;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.hide {
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.card-title {
  color: var(--Primary-color);
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.line-break {
  width: 30%;
  margin-bottom: 1rem;
  border-color: var(--Secondary-color);
}
.card-description {
  color: var(--Primary-color);
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.card-Features li {
  list-style: none;
  color: #27394c;
  font-size: 1.5rem;
  font-weight: 500;
}

.apply-container {
  text-align: right;
}

.Apply-btn {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 4rem;
  border-radius: 2rem;
  color: var(--Primary-color);
  background-color: var(--Secondary-color);
}
.Apply-btn:hover {
  background-color: var(--Primary-color);
  color: white;
  transform: scale(1.1);
  transition: all 0.5s;
}
